.title{
color:bisque;
background-color: brown;
    border-style:outset;
    text-wrap: inherit;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:initial;
    background-repeat: no-repeat;
    justify-content: center;
    

}
.title1{
  color: beige;
  background-color: darkgrey;
    display: flex;
    justify-content: space-around;
    border-style: inset;
    text-underline-offset: none;
}
a{
  text-decoration: none;
}
body{
    background-image: url(bgr2.webp);
    background-position: top;
   
    width: 2000;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.box{
color: rgb(0, 0, 0);
 margin-top: 450px;    
    padding: 20px;
    border-style:groove;
    margin:500px;
background-color: rgba(253, 241, 226, 0.767);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: xx-large;
text-transform: capitalize;
}